<!-- Everytimeapp/templates/category_list.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <h1>게시판 분류</h1>
    <ul>
        {% for category in categories %}
            <li>
                <h2>{{ category.name }}</h2>
                <ul>
                    {% for post in category.posts.all %}
                        <li>{{ post.title }} - {{ post.created_at }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
