<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>프로필</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center; width: 100%">
        <div style="padding: 20px; text-align: center; border: solid 1px rgba(219, 219, 219, 1); width: 300px; height: 400px; margin-top: 30px; background: white">
            <div style="padding-bottom: 10px">
                <img style="width: 150px" src="{{ user.profile_image.url }}" alt="Profile Image">
            </div>
            <div style="font-weight: bold; color: gray; padding-bottom: 20px">{{ user.name }}</div>
            <div>{{ user.nickname }}</div>
            <div>{{ user.email }}</div>
            <div>{{ user.student_id }}</div>
            <div>{{ user.phone }}</div>
        </div>
    </div>
</body>
</html>

